<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="direction: rtl">
<p>
  کاربر
  عزیز
</p>
<p>
  در زمان‌بندی‌ واحد‌ها تغییراتی رخ داده است که در برنامه‌ی شما تاثیرگذار بوده‌است. تغییرات مرتبط با برنامه‌ی شما به شرح زیر است:
</p>
<p>
<% unit_ids.each_with_index do |ui,i|%>
  <%= i+1 %>-<%= Unit.find(ui).title %>
  <br>
<% end %>
لطفا به صفحه‌ی شخصی خود در انتخاب واحد مجازی
  (    <a href="http://acm.ut.ac.ir/vahed">
  این صفحه‌
</a>
  )
  مراجعه کنید تا آن‌ها را به برنامه‌ی خود اضافه کنید و از جزییات آن آگاه شوید.
</p>
<p>
  هم‌چنین لازم به ذکر است زمان‌بندی دروس ارشد نیز به سامانه‌ی انتخاب واحد مجازی اضافه شده است.
</p>
<p>
  لطفا به این نکته دقت کنید که مرجع اصلی برنامه‌ریزی واحد‌ها سامانه‌ی گلستان است و در صورت هرگونه مغایرت به سامانه‌ی گلستان رجوع کنید.
</p>

<p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
</body>
</html>
