<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="direction: rtl">
  <p>
    کاربر
    عزیز
  </p>
  <p>
    شما با موفقیت در سایت انتخاب واحد مجازی شاخه‌ی دانشجویی ای‌سی‌ام دانشگاه تهران ثبت نام کردید.
  </p>
  <p>
   شما می‌توانید با مراجعه به
    <a href="http://acm.ut.ac.ir/vahed">
      این صفحه‌
    </a>
    واحد‌های ترم آینده را مشاهده و پیش از انتخاب واحد اصلی (سامانه‌ی گلستان) برای خود برنامه‌ریزی کنید.
    برای این کار کافی‌ است پس از ورود به سایت روی دکمه‌ی
    <strong>
      ساخت برنامه‌ی جدید
    </strong>
    کلیک کنید تا یک برنامه‌ برای شما ایجاد شود. سپس با جستجو در قسمت واحد‌ها،
    دروس مورد نظر خود را بیابید و با کلیک روی آن‌ها در برنامه‌ی خود جاگذاری کنید.
    هم‌چنین می‌توانید پس از آمدن نتایج جست‌و‌جو روی یکی از خانه‌های خالی برنامه‌ی خود کلیک کنید تا واحد‌هایی که در آن زمان ارائه می‌شود را مشاهده کنید.
شما می‌توانید پس از پایان انتخاب واحد یک نسخه‌ی قابل چاپ از برنامه‌ی خود را دریافت کنید.
  </p>
  <p>
   هم‌چنین می‌توانید با کلیک روی
    <a href="http://acm.ut.ac.ir/vahed/reports/new">
    <strong>
      گزارش
    </strong>
    </a>
    هر گونه اشکال یا سوال در رابطه با واحد‌ها یا برنامه‌ی خود دارید ارسال کنید. این گزارش‌ها به معاونت آموزشی دانشکده منعکس خواهد شد.
    لازم به ذکر است با توجه به محدودیت‌های موجود در ساختار برنامه و واحد‌ها امکان برآورده‌شدن تمام خواسته‌ها وجودندارد .

  </p>
  <p>
    لطفا به این نکته دقت کنید که مرجع اصلی برنامه‌ریزی واحد‌ها سامانه‌ی گلستان است و در صورت هرگونه مغایرت به سامانه‌ی گلستان رجوع کنید.

  </p>
<p>
  در صورت مشاهده‌ی اشکال یا سؤال در برنامه‌ از هرگونه مراجعه به آموزش دانشکده خودداری کنید و مشکلات خود را به نماینده‌ی دوره‌ی خود در شورای نمایندگان منتقل کنید. مشکلات توسط شورای نمایندگان بررسی و به آموزش دانشکده منتقل می‌شود. اسامی نماینده‌ها در
  <a href="http://ece.ut.ac.ir/node/76?destination=node%2F76">
    این‌جا
  </a>
  آمده است.
</p>
  <p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
		<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
  </body>
</html>
