<div class="row">
        <div class="col-md-8">
          <div class="img-back">
            <div  style="background-color:GhostWhite; height:490px; background:url('/vahed/assets/pencil.jpg')"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rpanel-back">
            <div class="content-back">
              <p> انتخاب واحد مجازی شاخه ی دانشجویی ای سی ام</p>
            </div>
            <div class="login">

              <div class="form-group">
                <%= link_to "برای ایجاد برنامه‌ی جدید وارد شوید!"  , "/vahed/plans/dashboard",  :class => "btn btn-default btn-block mybutton-sign" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
