<div class="row">
        <div class="col-md-8">
          <div class="img-back">
            <div  style="background-color:GhostWhite; height:490px; background:url('/vahed/assets/pencil2.jpg')"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rpanel-back">
            <div class="content-back">
              <p>
انتخاب واحد مجازی شاخه‌ی دانشجویی ای‌سی‌ام
              </p>
            </div>
            <div class="login">
              <div class="info" style="width:350px; height: 220px">
                <p style="font-size: 20px">
                  در این سایت شما می‌توانید برنامه‌ی درسی ترم جدید خود را قبل از آغاز انتخاب واحد اصلی تنظیم و با یک‌دیگر مقایسه کنید.
                  لازم به‌ذکر است که شاخه‌ی دانشجویی ای‌سی‌ام هیچ مسئولیتی در مورد هرگونه مغایرت بین اطلاعات سایت و سیستم گلستان در زمان انتخاب واحد ندارد
                </p>
              </div>
              <div class="form-group">
                <%= link_to "برای ایجاد برنامه‌ی جدید وارد شوید!"  , "/vahed/plans/dashboard",  :class => "btn btn-default btn-block mybutton-sign" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
