<div class="row">
        <div class="col-md-8">
          <div class="img-back">
            <div  style="background-color:GhostWhite; height:490px;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rpanel-back">
            <div class="content-back">
              <p> انتخاب واحد مجازی شاخه ی دانشجویی ای سی ام</p>
            </div>
            <div class="login">

              <div class="form-group">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password"class="form-control"id="exampleInputPassword1"placeholder="Password">
                  </div>
                </div>
                <br>
                
                <button type="button" class="btn btn-default btn-block mybutton-sign">ورود</button>
                <br>
                <button type="button" class="mybutton-sign btn btn-default btn-block ">ثبت نام</button>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
