/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @font-face
 {
    font-family: "Titillium Web";
    font-weight: bold;
    src: url("/vahed/assets/titilliumweb-bold.woff") format("woff");
}
@font-face {
    font-family: "Titillium Web";
    font-weight: normal;
    src: url("/vahed/assets/titilliumweb-regular.woff") format("woff");
}
@font-face
{
    font-family: droid;
    font-weight: normal;
    src: url("/vahed/assets/DroidNaskh-Regular.woff") format("woff");
}
body
{
    background-color: #3BC8B9;
    margin:0px 30px;
}
footer
{
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 30px;
    height: 90px;
    background-color: #FFFFFF;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
}
.mynav
{
    border:none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);   
    background-color: #FFFFFF;
    font-family: droid;
}
.top-header
{
    height: 70px;
    top: 0px;
    background-color: GhostWhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
    padding: 2px;
}
.welinfo
{
    padding: 10px;
    height: 260px;
    background-color: #74DED3;
    font-weight: bold;
    font-family: Titillium Web;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-align: center;
    margin-bottom: 5px;
}

.title
{
    font-family: Titillium Web;
    font-weight: bold;

}
.custom-addon
{
    font-size:30px;
    border:none;
    border-radius:10px 0px 0px 10px;
    background-color: #90EE90;
    font-weight: bold;
}
.butt-back
{
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
}
.subtitle
{
    font-weight: normal;
    font-family: Titillium Web;

}
.img-back,.rpanel-back
{
    background-color: #FFFFFF;
    padding: 5px;
    height: 500px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
}

.sign-up
{
    background-color: #008678;
    height: 320px;
    padding:30px;
}
.btn-pos
{
    background-color:#74DED3;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding:30px;
    margin-top:5px;
    margin-bottom:-5px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
}
.btn
{
    background-color: #F0F0F0  ;
}
.sign-btn
{
    border-radius: 0px;
    background-color: #F0F0F0;
    font-family: droid;
    width: 100%;

}
.login-top
{
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: droid;
}
.login-page-back
{
  background-color: #008678;
  border-bottom-right-radius:10px; 
  border-bottom-left-radius:10px; 
  padding:30px;
}

