<div class="plans" >
     <div  id="p-plan">       
       <ul class="list-unstyled">
         <% plans.each_with_index do |plan, i| %>
             <li class="<% if i%2 == 0%> odd <% else %> even <% end %>">
              <%= link_to plan.title , :controller => "plans", :action => "switch", :id => plan.id, :remote => true %>

            </li>
        <% end %>
      </ul>
    </div>
</div>
